<template name="postSubmit">
  
  
  <form class="main form">

    <div class="form-group">
      <label class="control-label " for="type_person_name">数据录入员姓名<label class="required" >*</label></label>
      <div class="controls">
          <input name="type_person_name" id="type_person_name" type="text" value=""  placeholder="" class="form-control required-field"/>
      </div>
    </div>


    <div class="form-group">
    <label class="control-label" for="user_front_image">1.请上传本人正脸相片(格式限制：jpg/png ; 大小限制：1Mb)<label class="required" >*</label></label>
      <div class="controls">
        <input type="file" id="user_front_image" name="user_front_image" class="form-control" />
      </div>
    </div>

    <div class="form-group">
    <label class="control-label" for="user_side_image">2.请上传本人侧脸相片(格式限制：jpg/png ; 大小限制：1Mb)<label class="required" >*</label></label>
      <div class="controls">
        <input type="file" id="user_side_image" name="user_side_image" class="form-control" />
      </div>
    </div>

    <div class="form-group">
    <label class="control-label" for="user_hold_image">3.请上传本人全身手持身份证相片(格式限制：jpg/png ; 大小限制：1Mb)<label class="required" >*</label></label>
      <div class="controls">
        <input type="file" id="user_hold_image" name="user_hold_image" class="form-control" />
      </div>
    </div>

    <div class="form-group">
    	<label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第一部分.基本信息</label>
    <div>  
      <label class="control-label " for="person_name" style="font-size: 20px" >一. 申请人信息</label>
    </div>
    <div>  
      <label class="control-label " for="person_name" style="font-size: 20px" >(1)身份证信息</label>
    </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_name">4.申请人姓名<label class="required" >*</label></label>
      <div class="controls">
          <input name="person_name" id="person_name" type="text" value=""  class="form-control required-field"/>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label" for="person_gender">5.性别<label class="required" >*</label></label>
      <div class="controls">
          <select name="person_gender" id="person_gender" class="form-control">
            <option value="男">男</option>
            <option value="女">女</option>
          </select>   
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label" for="person_birthday">6.生日<label class="required" >*</label></label>
      <div class="controls">
         <input name="person_birthday" id="person_birthday" type="date" value=""  class="form-control"/>        
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">7.证件类型<label class="required" >*</label></label>
      <div class="controls">
          <select name="person_id_type" id="person_id_type" class="form-control">
            <option value="居民身份证">居民身份证</option>
            <option value="军官证">军官证</option>
            <option value="武警警官证">武警警官证</option>
            <option value="士兵证">士兵证</option>
            <option value="港澳居民往来内地通行证">港澳居民往来内地通行证</option>
            <option value="台湾居民往来内地通行证">台湾居民往来内地通行证</option>
            <option value="外国护照">外国护照</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">8.证件号码<label class="required" >*</label></label>
      <div class="controls">
          <input name="person_id" id="person_id" type="text" value=""  class="form-control required-field"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_issuer">9.发证机关<label class="required" >*</label></label>
      <div class="controls">
          <input name="person_id_issuer" id="person_id_issuer" type="text" value=""  class="form-control required-field"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_issuer_date">10.证件有效截止期间<label class="required" >*</label></label>
      <div class="controls">
          <input name="person_id_issuer_date" id="person_id_issuer_date" type="date" value=""  class="form-control"/>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="applicant_phone_num">11.申请人手机号码</label>
      <div class="controls">
          <input name="applicant_phone_num" id="applicant_phone_num" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="applicant_phone_num_starting_date">12.本号码开始使用时间</label>
      <div class="controls">
          <input name="applicant_phone_num_starting_date" id="applicant_phone_num_starting_date" type="date" value=""  class="form-control"/>
      </div>
    </div>



    <div class="form-group">
      <label class="control-label" for="person_address">13.家庭住址 (请具体到门牌号或者房间号)<label class="required" >*</label> </label>
      <div class="controls">
          <input name="person_address" id="person_address" type="text" value=""  class="form-control required-field"/>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_name" style="font-size: 20px" >(2)户口本信息</label>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_birth_place">14.出生地 (xx省xx市) </label>
      <div class="controls">
          <input name="person_birth_place" id="person_birth_place" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_addr_place">15.户籍所在地<label class="required" >*</label></label>
      <div class="controls">
          <input name="person_addr_place" id="person_addr_place" type="text" value=""  class="form-control required-field"/>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_addr_type">16.户籍属性<label class="required" >*</label></label>
      <div class="controls">
          <select name="person_addr_type" id="person_addr_type" value="" class="form-control">
            <option value="本地户籍">本地户籍</option>
            <option value="外地户籍">外地户籍</option>
      </select>
      </div>
      </div>

    <div class="form-group">
      <label class="control-label" for="person_height">17.身高(cm)</label>
      <div class="controls">
          <input name="person_height" id="person_height" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_education_level">18.教育水平<label class="required" >*</label></label>
      <div class="controls">
          <select name="person_education_level" id="person_education_level" class="form-control">
            <option value="初中及以下">初中及以下</option>
            <option value="高中/中专">高中/中专</option>
            <option value="大学专科">大学专科</option>
            <option value="大学本科">大学本科</option>
            <option value="研究生">研究生</option>
            <option value="博士及以上">博士及以上</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_marriage">19.婚姻状况<label class="required" >*</label></label>
      <div class="controls">
          <select name="person_marriage" id="person_marriage" class="form-control">
            <option value="未婚">未婚</option>
            <option value="已婚">已婚</option>
            <option value="离异">离异</option>
          </select>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_if_son">20.是否有子女<label class="required" >*</label></label>
      <div class="controls">
          <select name="person_if_son" id="person_if_son" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_child_num">21.子女数量</label>
      <div class="controls">
         <input name="person_child_num" id="person_child_num" type="text" value=""  class="form-control"/>
      </div>
    </div>



      <div class="form-group">
      <label class="control-label" for="applicant_primary_school">22.子女资料</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>子女1：姓名</p></div>
          <input name="child_1_name" id="child_1_name" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>性别</p></div>
          <input name="child_1_gender" id="child_1_gender" type="text" value=""  class="form-control" style="width: 10%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>出生日期</p></div>
          <input name="child_1_birthday" id="child_1_birthday" type="date" value=""  class="form-control" style="width: 20%"/>
      </div>

      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>子女2：姓名</p></div>
          <input name="child_2_name" id="child_2_name" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>性别</p></div>
          <input name="child_2_gender" id="child_2_gender" type="text" value=""  class="form-control" style="width: 10%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>出生日期</p></div>
          <input name="child_2_birthday" id="child_2_birthday" type="date" value=""  class="form-control" style="width: 20%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>子女3：姓名</p></div>
          <input name="child_3_name" id="child_3_name" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>性别</p></div>
          <input name="child_3_gender" id="child_3_gender" type="text" value=""  class="form-control" style="width: 10%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>出生日期</p></div>
          <input name="child_3_birthday" id="child_3_birthday" type="date" value=""  class="form-control" style="width: 20%"/>
      </div>
      
    </div>

    <div class="form-group">
      <label class="control-label" for="person_name" style="font-size: 20px" >(3)驾驶证信息</label>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_if_driver_lisence">23.是否持有驾照</label>
      <div class="controls">
          <select name="person_if_driver_lisence" id="person_if_driver_lisence" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_license_type">24.驾照类型</label>
      <div class="controls">
          <input name="person_license_type" id="person_license_type" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_license_num">25.驾照号码</label>
      <div class="controls">
          <input name="person_license_num" id="person_license_num" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_license_issue_date">26.驾照发证时间（XX年XX月）</label>
      <div class="controls">
          <input name="person_license_issue_date" id="person_license_issue_date" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_license_due">27.驾照有效期截止时间（XX年XX月）</label>
      <div class="controls">
          <input name="person_license_due" id="person_license_due" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group"> 
      <label class="control-label" for="person_name" style="font-size: 20px" >(4)工资条信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_income_month">28.每月收入<label class="required" >*</label></label>
      <div class="controls">
          <input name="person_income_month" id="person_income_month" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company">29.单位名称<label class="required" >*</label></label>
      <div class="controls">
          <input name="person_company" id="person_company" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company_phone">30.单位电话<label class="required" >*</label></label>
      <div class="controls">
          <input name="person_company_phone" id="person_company_phone" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company_addr">31.单位地址<label class="required" >*</label></label>
      <div class="controls">
          <input name="person_company_addr" id="person_company_addr" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company_type">32.单位经济性质</label>
      <div class="controls">
          <select name="person_company_type" id="person_company_type" class="form-control" type="text">
            <option value="国有经济">国有经济</option>
            <option value="集体经济">集体经济</option>
            <option value="私营">私营</option>
            <option value="民营">民营</option>
            <option value="股份合作">股份合作</option>
            <option value="其他股份制">其他股份制</option>
            <option value="三资">三资</option>
            <option value="其他">其他</option> 
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company_industry">33.所属行业</label>
      <div class="controls">
          <select name="person_company_industry" id="person_company_industry" class="form-control">
            <option value="农林牧渔">农林牧渔</option>
            <option value="邮电通讯">邮电通讯</option>
            <option value="房地产">房地产</option>
            <option value="教科文卫">教科文卫</option>
            <option value="工业">工业</option>
            <option value="银行">银行</option>
            <option value="证券">证券</option>
            <option value="保险">保险</option>
            <option value="商业">商业</option>
            <option value="机关团体">机关团体</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_job">34.职业</label>
      <div class="controls">
          <select name="person_job" id="person_job" class="form-control">
            <option value="公务员">公务员</option>
            <option value="事业单位员工">事业单位员工</option>
            <option value="工人">工人</option>
            <option value="农民">农民</option>
            <option value="军人">军人</option>
            <option value="职员">职员</option>
            <option value="私人业主">私人业主</option>
            <option value="学生">学生</option>
            <option value="自由职业者">自由职业者</option>
            <option value="无">无</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_post">35.职务</label>
      <div class="controls">
          <select name="person_post" id="person_post" class="form-control">
            <option value="厅局级及以上/企业负责人">厅局级及以上/企业负责人</option>
            <option value="县处级/总经理">县处级/总经理</option>
            <option value="科级/部门经理">科级/部门经理</option>
            <option value="科员级/职员">科员级/职员</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>



     



    

    <div>  
      <label class="control-label " for="person_name" style="font-size: 20px" >二. 配偶信息</label>
    </div>

    <div>  
      <label class="control-label " for="person_name" style="font-size: 20px" >(1)身份证信息</label>
    </div>

   <div class="form-group">
      <label class="control-label" for="person_name">36.配偶姓名</label>
      <div class="controls">
          <input name="spouse_name" id="spouse_name" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_birthday">37.出生日期</label>
      <div class="controls">
         <input name="spouse_birthday" id="spouse_birthday" type="date" value=""  class="form-control"/>        
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">38.证件类型</label>
      <div class="controls">
          <select name="spouse_id_type" id="spouse_id_type" class="form-control">
            <option value="居民身份证">居民身份证</option>
            <option value="军官证">军官证</option>
            <option value="武警警官证">武警警官证</option>
            <option value="士兵证">士兵证</option>
            <option value="港澳居民往来内地通行证">港澳居民往来内地通行证</option>
            <option value="台湾居民往来内地通行证">台湾居民往来内地通行证</option>
            <option value="外国护照">外国护照</option>
          </select>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_issuer">39.发证机关</label>
      <div class="controls">
          <input name="spouse_id_issuer" id="spouse_id_issuer" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_issuer_date">40.证件有效截止期间</label>
      <div class="controls">
          <input name="spouse_id_issuer_date" id="spouse_id_issuer_date" type="date" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">41.证件号码</label>
      <div class="controls">
          <input name="spouse_id" id="spouse_id" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_name" style="font-size: 20px" >(2)户口本信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_birth_place">42.出生地 (xx省xx市) </label>
      <div class="controls">
          <input name="spouse_birth_place" id="spouse_birth_place" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_addr_place">43.户籍所在地</label>
      <div class="controls">
          <input name="spouse_addr_place" id="spouse_addr_place" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_if_son">44.户籍属性</label>
      <div class="controls">
          <select name="spouse_addr_type" id="spouse_addr_type" class="form-control">
            <option value="本地户籍">本地户籍</option>
            <option value="外地户籍">外地户籍</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_education_level">45.教育水平</label>
      <div class="controls">
          <select name="spouse_education_level" id="spouse_education_level" class="form-control">
            <option value="初中及以下">初中及以下</option>
            <option value="高中/中专">高中/中专</option>
            <option value="大学专科">大学专科</option>
            <option value="大学本科">大学本科</option>
            <option value="研究生">研究生</option>
            <option value="博士及以上">博士及以上</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_height">46.身高(cm)</label>
      <div class="controls">
          <input name="spouse_height" id="spouse_height" type="text" value=""  class="form-control"/>
      </div>
    </div>


	<div class="form-group">
      <label class="control-label" for="spouse_phone_num">47.配偶手机号码</label>
      <div class="controls">
          <input name="spouse_phone_num" id="spouse_phone_num" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_phone_num_starting_date">48.本号码开始使用时间</label>
      <div class="controls">
          <input name="spouse_phone_num_starting_date" id="spouse_phone_num_starting_date" type="date" value=""  class="form-control"/>
      </div>
    </div>



    <div class="form-group">
      <label class="control-label" for="person_name" style="font-size: 20px" >(3)驾驶证信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_if_driver_lisence">49.是否持有驾照</label>
      <div class="controls">
          <select name="spouse_if_driver_lisence" id="spouse_if_driver_lisence" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_license_type">50.驾照类型</label>
      <div class="controls">
          <input name="spouse_license_type" id="spouse_license_type" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_license_num">51.驾照号码</label>
      <div class="controls">
          <input name="spouse_license_num" id="spouse_license_num" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_license_issue_date">52.驾照发证时间</label>
      <div class="controls">
          <input name="spouse_license_issue_date" id="spouse_license_issue_date" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_license_due">53.驾照有效期截止时间</label>
      <div class="controls">
          <input name="spouse_license_due" id="spouse_license_due" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group"> 
      <label class="control-label" for="person_name" style="font-size: 20px" >(4)工资条信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_income_month">54.每月收入</label>
      <div class="controls">
          <input name="spouse_income_month" id="spouse_income_month" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company">55.单位名称</label>
      <div class="controls">
          <input name="spouse_company" id="spouse_company" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company_phone">56.单位电话</label>
      <div class="controls">
          <input name="spouse_company_phone" id="spouse_company_phone" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company_addr">57.单位地址</label>
      <div class="controls">
          <input name="spouse_company_addr" id="spouse_company_addr" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company_type">58.单位经济性质</label>
      <div class="controls">
          <select name="spouse_company_type" id="spouse_company_type" class="form-control">
            <option value="国有经济">国有经济</option>
            <option value="集体经济">集体经济</option>
            <option value="私营">私营</option>
            <option value="民营">民营</option>
            <option value="股份合作">股份合作</option>
            <option value="其他股份制">其他股份制</option>
            <option value="三资">三资</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_company_industry">59.所属行业</label>
      <div class="controls">
          <select name="spouse_company_industry" id="spouse_company_industry" class="form-control">
            <option value="农林牧渔">农林牧渔</option>
            <option value="邮电通讯">邮电通讯</option>
            <option value="房地产">房地产</option>
            <option value="教科文卫">教科文卫</option>
            <option value="工业">工业</option>
            <option value="银行">银行</option>
            <option value="证券">证券</option>
            <option value="保险">保险</option>
            <option value="商业">商业</option>
            <option value="机关团体">机关团体</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_job">60.职业</label>
      <div class="controls">
          <select name="spouse_job" id="spouse_job" class="form-control">
            <option value="公务员">公务员</option>
            <option value="事业单位员工">事业单位员工</option>
            <option value="工人">工人</option>
            <option value="农民">农民</option>
            <option value="军人">军人</option>
            <option value="职员">职员</option>
            <option value="私人业主">私人业主</option>
            <option value="学生">学生</option>
            <option value="自由职业者">自由职业者</option>
            <option value="无">无</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_post">61.职务</label>
      <div class="controls">
          <select name="spouse_post" id="spouse_post" class="form-control">
            <option value="厅局级及以上/企业负责人">厅局级及以上/企业负责人</option>
            <option value="县处级/总经理">县处级/总经理</option>
            <option value="科级/部门经理">科级/部门经理</option>
            <option value="科员级/职员">科员级/职员</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div>  
      <label class="control-label " for="person_name" style="font-size: 20px" >三. 担保人信息</label>
    </div>

    <div>  
      <label class="control-label " for="person_name" style="font-size: 20px" >(1)身份证信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_name">62.担保人姓名</label>
      <div class="controls">
          <input name="guarantor_name" id="guarantor_name" type="text" value=""  class="form-control"/>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label" for="guarantor_gender">63.性别</label>
      <div class="controls">
          <select name="guarantor_gender" id="guarantor_gender" class="form-control">
            <option value="男">男</option>
            <option value="女">女</option>
          </select>   
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label" for="guarantor_birthday">64.生日</label>
      <div class="controls">
         <input name="guarantor_birthday" id="guarantor_birthday" type="date" value=""  class="form-control"/>        
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_id_type">65.证件类型</label>
      <div class="controls">
          <select name="guarantor_id_type" id="guarantor_id_type" class="form-control">
            <option value="居民身份证">居民身份证</option>
            <option value="军官证">军官证</option>
            <option value="武警警官证">武警警官证</option>
            <option value="士兵证">士兵证</option>
            <option value="港澳居民往来内地通行证">港澳居民往来内地通行证</option>
            <option value="台湾居民往来内地通行证">台湾居民往来内地通行证</option>
            <option value="外国护照">外国护照</option>
          </select>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_id">66.证件号码</label>
      <div class="controls">
          <input name="guarantor_id" id="guarantor_id" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_id_issuer">67.发证机关</label>
      <div class="controls">
          <input name="guarantor_id_issuer" id="guarantor_id_issuer" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_id_issuer_date">68.证件有效截止期间</label>
      <div class="controls">
          <input name="guarantor_id_issuer_date" id="guarantor_id_issuer_date" type="date" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_address">69.家庭住址 (请具体到门牌号或者房间号) </label>
      <div class="controls">
          <input name="guarantor_address" id="guarantor_address" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_name" style="font-size: 20px" >(2)工资条信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_company">70.单位名称</label>
      <div class="controls">
          <input name="guarantor_company" id="guarantor_company" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_income_month">71.每月收入</label>
      <div class="controls">
          <input name="guarantor_income_month" id="guarantor_income_month" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_company_phone">72.单位电话</label>
      <div class="controls">
          <input name="guarantor_company_phone" id="guarantor_company_phone" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_company_addr">73.单位地址</label>
      <div class="controls">
          <input name="guarantor_company_addr" id="guarantor_company_addr" type="text" value=""  class="form-control"/>
      </div>
    </div>



    <div class="form-group">
      <label class="control-label" for="guarantor_company_type">74.单位经济性质</label>
      <div class="controls">
          <select name="guarantor_company_type" id="guarantor_company_type" class="form-control">
            <option value="国有经济">国有经济</option>
            <option value="集体经济">集体经济</option>
            <option value="私营">私营</option>
            <option value="民营">民营</option>
            <option value="股份合作">股份合作</option>
            <option value="其他股份制">其他股份制</option>
            <option value="三资">三资</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_company_industry">75.所属行业</label>
      <div class="controls">
          <select name="guarantor_company_industry" id="guarantor_company_industry" class="form-control">
            <option value="农林牧渔">农林牧渔</option>
            <option value="邮电通讯">邮电通讯</option>
            <option value="房地产">房地产</option>
            <option value="教科文卫">教科文卫</option>
            <option value="工业">工业</option>
            <option value="银行">银行</option>
            <option value="证券">证券</option>
            <option value="保险">保险</option>
            <option value="商业">商业</option>
            <option value="机关团体">机关团体</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_job">76.职业</label>
      <div class="controls">
          <select name="guarantor_job" id="guarantor_job" class="form-control">
            <option value="公务员">公务员</option>
            <option value="事业单位员工">事业单位员工</option>
            <option value="工人">工人</option>
            <option value="农民">农民</option>
            <option value="军人">军人</option>
            <option value="职员">职员</option>
            <option value="私人业主">私人业主</option>
            <option value="学生">学生</option>
            <option value="自由职业者">自由职业者</option>
            <option value="无">无</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="guarantor_post">77.职务</label>
      <div class="controls">
          <select name="guarantor_post" id="guarantor_post" class="form-control">
            <option value="厅局级及以上/企业负责人">厅局级及以上/企业负责人</option>
            <option value="县处级/总经理">县处级/总经理</option>
            <option value="科级/部门经理">科级/部门经理</option>
            <option value="科员级/职员">科员级/职员</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

	  <div class="form-group">
      <label class="control-label" for="person_name" style="font-size: 20px" >(3)补充信息</label>
    </div>


    <div class="form-group">

      <label class="control-label" for="person_id_type">78.担保人与申请人关系</label>
      <div class="controls">
          <select name="guarantor_relationship" id="guarantor_relationship" class="form-control">
            <option value="朋友">朋友</option>
            <option value="同事">同事</option>
            <option value="亲属">亲属</option>
            <option value="其他">其他</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">79.与申请人首次认识时间（XX年XX月）：</label>
      <div class="controls">
          <input name="guarantor_first_meet" id="guarantor_first_meet" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div>  
      <label class="control-label " for="person_name" style="font-size: 20px" >四. 紧急联系人信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">80.紧急联系人1姓名</label>
      <div class="controls">
          <input name="emergency1_name" id="emergency1_name" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">81.与申请人关系</label>
      <div class="controls">
          <input name="emergency1_relationship" id="emergency1_relationship" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">82.手机号码</label>
      <div class="controls">
          <input name="emergency1_contact" id="emergency1_contact" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">83.紧急联系人2姓名</label>
      <div class="controls">
          <input name="emergency2_name" id="emergency2_name" type="text" value=""  class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="person_id_type">84.与申请人关系</label>
      <div class="controls">
          <input name="emergency2_relationship" id="emergency2_relationship" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">85.手机号码</label>
      <div class="controls">
          <input name="emergency2_contact" id="emergency2_contact" type="text" value=""  class="form-control"/>
      </div>
    </div>


    <div class="form-group">
    	<label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第二部分.教育信息</label>
    <div>  
      <label class="control-label " for="person_name" style="font-size: 20px" >一. 申请人教育信息</label>
    </div>
    </div>


     <div class="form-group">
      <label class="control-label" for="applicant_primary_school">86.申请人教育信息</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>小学校名</p></div>
          <input name="applicant_primary_school" id="applicant_primary_school" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>小学入学年份</p></div>
          <input name="applicant_primary_school" id="applicant_primary_school" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>

      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>初中校名</p></div>
          <input name="applicant_middle_school" id="applicant_middle_school" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>初中入学年份</p></div>
          <input name="applicant_middle_start" id="applicant_middle_start" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>高中/中专校名</p></div>
          <input name="applicant_high_school" id="applicant_high_school" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>高中/中专入学年份</p></div>
          <input name="applicant_high_start" id="applicant_high_start" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>大学校名</p></div>
          <input name="applicant_undergraduate" id="applicant_undergraduate" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>大学入学年份</p></div>
          <input name="applicant_undergraduate_start" id="applicant_undergraduate_start" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>研究生校名</p></div>
          <input name="applicant_master" id="applicant_master" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>研究生入学年份</p></div>
          <input name="applicant_master_start" id="applicant_master_start" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
    </div>


    <div>  
      <label class="control-label " for="person_name" style="font-size: 20px" >二. 配偶教育信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="applicant_primary_school">87.配偶教育信息</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>小学校名</p></div>
          <input name="spouse_primary_school" id="spouse_primary_school" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>小学入学年份</p></div>
          <input name="spouse_primary_start" id="spouse_primary_start" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>

      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>初中校名</p></div>
          <input name="spouse_middle_school" id="spouse_middle_school" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>初中入学年份</p></div>
          <input name="spouse_middle_start" id="spouse_middle_start" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>高中/中专校名</p></div>
          <input name="spouse_high_school" id="spouse_high_school" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>高中/中专入学年份</p></div>
          <input name="spouse_high_start" id="spouse_high_start" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>大学校名</p></div>
          <input name="spouse_undergraduate" id="spouse_undergraduate" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>大学入学年份</p></div>
          <input name="spouse_undergraduate_start" id="spouse_undergraduate_start" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>研究生校名</p></div>
          <input name="spouse_master" id="spouse_master" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px; width:15%"><p>研究生入学年份</p></div>
          <input name="spouse_master_start" id="spouse_master_start" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
    </div>

    <div class="form-group">
    	<label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第三部分.工作信息</label>
    </div>


    <div class="form-group">
      <label class="control-label" for="layer">88.申请人工作履历</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>单位名称</p></div>
          <input name="person_jobname_1" id="person_jobname_1" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>所在省份城市</p></div>
          <input name="person_jobplace_1" id="person_jobplace_1" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>起始时间</p></div>
          <input name="person_jobstart_1" id="person_jobstart_1" type="date" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>結束时间</p></div>
          <input name="person_jobend_1" id="person_jobend_1" type="date" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>单位名称</p></div>
          <input name="person_jobname_2" id="person_jobname_2" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>所在省份城市</p></div>
          <input name="person_jobplace_2" id="person_jobplace_2" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>起始时间</p></div>
          <input name="person_jobstart_2" id="person_jobstart_2" type="date" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>结束时间</p></div>
          <input name="person_jobend_2" id="person_jobend_2" type="date" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>单位名称</p></div>
          <input name="person_jobname_3" id="person_jobname_3" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>所在省份城市</p></div>
          <input name="person_jobplace_3" id="person_jobplace_3" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>起始时间</p></div>
          <input name="person_jobstart_3" id="person_jobstart_3" type="date" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>结束时间</p></div>
          <input name="person_jobend_3" id="person_jobend_3" type="date" value=""  class="form-control" style="width: 30%"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="layer">89.配偶工作履历</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>单位名称</p></div>
          <input name="spouse_jobname_1" id="spouse_jobname_1" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>所在省份城市</p></div>
          <input name="spouse_jobplace_1" id="spouse_jobplace_1" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>起始时间</p></div>
          <input name="spouse_jobstart_1" id="spouse_jobstart_1" type="date" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>结束时间</p></div>
          <input name="spouse_jobend_1" id="spouse_jobend_1" type="date" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>单位名称</p></div>
          <input name="spouse_jobname_2" id="spouse_jobname_2" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>所在省份城市</p></div>
          <input name="spouse_jobplace_2" id="spouse_jobplace_2" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>起始时间</p></div>
          <input name="spouse_jobstart_2" id="spouse_jobstart_2" type="date" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>结束时间</p></div>
          <input name="spouse_jobend_2" id="spouse_jobend_2" type="date" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>单位名称</p></div>
          <input name="spouse_jobname_3" id="spouse_jobname_3" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>所在省份城市</p></div>
          <input name="spouse_jobplace_3" id="spouse_jobplace_3" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>起始时间</p></div>
          <input name="spouse_jobstart_3" id="spouse_jobstart_3" type="date" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:15%"><p>结束时间</p></div>
          <input name="spouse_jobend_3" id="spouse_jobend_3" type="date" value=""  class="form-control" style="width: 30%"/>
      </div>
    </div>




    <div class="form-group">
      <label class="control-label" for="applicant_title">90.申请人职称(没有请填无)</label>
      <div class="controls">
          <input name="applicant_title" id="applicant_title" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_title">91.配偶职称(没有请填无)</label>
      <div class="controls">
          <input name="spouse_title" id="spouse_title" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="applicant_certificate">92.申请人从业资格证(没有请填无)</label>
      <div class="controls">
          <input name="applicant_certificate" id="applicant_certificate" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_certificate">93.配偶从业资格证(没有请填无)</label>
      <div class="controls">
          <input name="spouse_certificate" id="spouse_certificate" type="text" value=""  class="form-control"/>
      </div>
    </div>


    <div class="form-group">
    	<label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第四部分.家庭信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="family_expense">94.家庭每月开支</label>
      <div class="controls">
          <input name="family_expense" id="family_expense" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="family_house">95.家庭拥有住宅数量</label>
      <div class="controls">
          <input name="family_house" id="family_house" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="house_type">96.住宅状况</label>
      <div class="controls">
          <select name="house_type" id="house_type" class="form-control">
            <option value="自有住房">自有住房</option>
            <option value="贷款购房">贷款购房</option>
            <option value="租房">租房</option>
            <option value="其他">其他</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="repayment">97.如果96题选择为贷款购房，房贷每月还款(元)</label>
      <div class="controls">
          <input name="repayment" id="repayment" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="house_rent">98.如果96题选择为租房，每月房租(元)</label>
      <div class="controls">
          <input name="house_rent" id="house_rent" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="check_in_date">99.入住日期</label>
      <div class="controls">
          <input name="check_in_date" id="check_in_date" type="date" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="children_tuition">100.子女学费总额（每年）</label>
      <div class="controls">
          <input name="children_tuition" id="children_tuition" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="child_disease">101.子女是否患有以下疾病(多选题)</label><br>
      <input type="checkbox" name="child_disease" value="心脏病" /> 心脏病<br>
      <input type="checkbox" name="child_disease" value="糖尿病" /> 糖尿病<br>
      <input type="checkbox" name="child_disease" value="肾脏病" /> 肾脏病<br>
      <input type="checkbox" name="child_disease" value="血友病" /> 血友病<br>
      <input type="checkbox" name="child_disease" value="肺结核" /> 肺结核<br>
      <input type="checkbox" name="child_disease" value="哮喘病" /> 哮喘病<br>
      <input type="checkbox" name="child_disease" value="癫痫症" /> 癫痫症<br>
      <input type="checkbox" name="child_disease" value="高血压" /> 高血压<br>
      <input type="checkbox" name="child_disease" value="高血脂" /> 高血脂<br>
      <input type="checkbox" name="child_disease" value="高血糖" /> 高血糖<br>
      <input type="checkbox" name="child_disease" value="心血管疾病" /> 心血管疾病<br>
      <input type="checkbox" name="child_disease" value="癌症" /> 癌症<br>
      <input type="checkbox" name="child_disease" value="慢性肺部疾病" /> 慢性肺部疾病<br>
      <input type="checkbox" name="child_disease" value="遗传病" /> 遗传病<br>
      <input type="checkbox" name="child_disease" value="其他慢性疾病" /> 其他慢性疾病<br>
      <input type="checkbox" name="child_disease" value="无" /> 无<br>
    </div>

    <div class="form-group">
      <label class="control-label" for="live_with_parent">102.是否与老人同住</label>
      <div class="controls">
          <select name="live_with_parent" id="live_with_parent" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>   
      </div>
    </div>



    <div class="form-group">
      <label class="control-label" for="applicant_primary_school">103.同住老人</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>老人姓名</p></div>
          <input name="parent_1_name" id="parent_1_name" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>出生日期</p></div>
          <input name="parent_1_birthday" id="parent_1_birthday" type="date" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>與申請人關係</p></div>
          <input name="parent_1_relation" id="parent_1_relation" type="text" value=""  class="form-control" style="width: 20%"/>
      </div>

      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>老人姓名</p></div>
          <input name="parent_2_name" id="parent_2_name" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>出生日期</p></div>
          <input name="parent_2_birthday" id="parent_2_birthday" type="date" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>與申請人關係</p></div>
          <input name="parent_2_relation" id="parent_2_relation" type="text" value=""  class="form-control" style="width: 20%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>老人姓名</p></div>
          <input name="parent_3_name" id="parent_3_name" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>出生日期</p></div>
          <input name="parent_3_birthday" id="parent_3_birthday" type="date" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>與申請人關係</p></div>
          <input name="parent_3_relation" id="parent_3_relation" type="text" value=""  class="form-control" style="width: 20%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>老人姓名</p></div>
          <input name="parent_4_name" id="parent_4_name" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>出生日期</p></div>
          <input name="parent_4_birthday" id="parent_4_birthday" type="date" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>與申請人關係</p></div>
          <input name="parent_4_relation" id="parent_4_relation" type="text" value=""  class="form-control" style="width: 20%"/>
      </div>
    </div>



    <div class="form-group">
      <label class="control-label" for="parent_disease">104.同住老人是否患有以下疾病(多选题)</label><br>
      <input type="checkbox" name="parent_disease" value="心脏病" /> 心脏病<br>
      <input type="checkbox" name="parent_disease" value="糖尿病" /> 糖尿病<br>
      <input type="checkbox" name="parent_disease" value="肾脏病" /> 肾脏病<br>
      <input type="checkbox" name="parent_disease" value="血友病" /> 血友病<br>
      <input type="checkbox" name="parent_disease" value="肺结核" /> 肺结核<br>
      <input type="checkbox" name="parent_disease" value="哮喘病" /> 哮喘病<br>
      <input type="checkbox" name="parent_disease" value="癫痫症" /> 癫痫症<br>
      <input type="checkbox" name="parent_disease" value="高血压" /> 高血压<br>
      <input type="checkbox" name="parent_disease" value="高血脂" /> 高血脂<br>
      <input type="checkbox" name="parent_disease" value="高血糖" /> 高血糖<br>
      <input type="checkbox" name="parent_disease" value="心血管疾病" /> 心血管疾病<br>
      <input type="checkbox" name="parent_disease" value="癌症" /> 癌症<br>
      <input type="checkbox" name="parent_disease" value="慢性肺部疾病" /> 慢性肺部疾病<br>
      <input type="checkbox" name="parent_disease" value="遗传病" /> 遗传病<br>
      <input type="checkbox" name="parent_disease" value="其他慢性疾病" /> 其他慢性疾病<br>
      <input type="checkbox" name="parent_disease" value="无" /> 无<br>
    </div>


    <div class="form-group">
      <label class="control-label" for="applicant_passport">105.申请人是否持有护照</label>
      <div class="controls">
          <select name="applicant_passport" id="applicant_passport" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_passport">106.配偶是否持有护照</label>
      <div class="controls">
          <select name="spouse_passport" id="spouse_passport" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="applicant_go_abroad">107.申请人是否有出国/出境经历</label>
      <div class="controls">
          <select name="applicant_go_abroad" id="applicant_go_abroad" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_go_abroad">108.配偶是否有出国/出境经历</label>
      <div class="controls">
          <select name="spouse_go_abroad" id="spouse_go_abroad" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="applicant_country">109.申请人最近一次去过的国家</label>
      <div class="controls">
          <input name="applicant_country" id="applicant_country" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_country">110.配偶最近一次去过的国家</label>
      <div class="controls">
          <input name="spouse_country" id="spouse_country" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_insurance">111.申请人是否有五险一金(多选题)</label><br>
      <input type="checkbox" name="person_insurance" value="养老保险" /> 养老保险<br>
      <input type="checkbox" name="person_insurance" value="医疗保险" /> 医疗保险<br>
      <input type="checkbox" name="person_insurance" value="失业保险" /> 失业保险<br>
      <input type="checkbox" name="person_insurance" value="工伤保险" /> 工伤保险<br>
      <input type="checkbox" name="person_insurance" value="生育保险" /> 生育保险<br>
      <input type="checkbox" name="person_insurance" value="住房公积金" /> 住房公积金<br>
      <input type="checkbox" name="person_insurance" value="无" /> 无<br>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_insurance">112.配偶是否有五险一金(多选题)</label><br>
      <input type="checkbox" name="spouse_insurance" value="养老保险" /> 养老保险<br>
      <input type="checkbox" name="spouse_insurance" value="医疗保险" /> 医疗保险<br>
      <input type="checkbox" name="spouse_insurance" value="失业保险" /> 失业保险<br>
      <input type="checkbox" name="spouse_insurance" value="工伤保险" /> 工伤保险<br>
      <input type="checkbox" name="spouse_insurance" value="生育保险" /> 生育保险<br>
      <input type="checkbox" name="spouse_insurance" value="住房公积金" /> 住房公积金<br>
      <input type="checkbox" name="spouse_insurance" value="无" /> 无<br>
    </div>


    <div class="form-group">
      <label class="control-label" for="applicant_newspaper">113.申请人是否每周阅读纸质报纸</label>
      <div class="controls">
          <select name="applicant_newspaper" id="applicant_newspaper" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_read_reply">114.申请人每天查阅并回复(多选题)</label><br>
      <input type="checkbox" name="person_read_reply" value="短信" /> 短信<br>
      <input type="checkbox" name="person_read_reply" value="微信" /> 微信<br>
      <input type="checkbox" name="person_read_reply" value="电子邮件" /> 电子邮件<br>
      <input type="checkbox" name="person_read_reply" value="其他" /> 其他<br>
    </div>

    <div class="form-group">
      <label class="control-label" for="applicant_lawyer">115.申请人是否认识律师</label>
      <div class="controls">
          <select name="applicant_lawyer" id="applicant_lawyer" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>   
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="layer">116.您所认识的律师姓名</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>律师姓名</p></div>
          <input name="layer_name" id="layer_name" type="text" value=""  class="form-control" style="width: 30%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:10%"><p>律师电话</p></div>
          <input name="layer_phone_num" id="layer_phone_num" type="text" value=""  class="form-control" style="width: 30%"/>
      </div>
    </div>


    <div class="form-group">
    	<label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第五部分.金融信息</label>
    </div>


    <div class="form-group">
      <label class="control-label" for="applicant_income">117.申请人年收入</label>
      <div class="controls">
          <input name="applicant_income" id="applicant_income" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_inc_str">118.申请人固定收入/薪水是否超过总收入70%</label>
      <div class="controls">
          <select name="person_inc_str" id="person_inc_str" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_income">119.配偶年收入</label>
      <div class="controls">
          <input name="spouse_income" id="spouse_income" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_spouse_inc_str">120.配偶固定收入/薪水是否超过总收入70%</label>
      <div class="controls">
          <select name="person_spouse_inc_str" id="person_spouse_inc_str" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">121.申请人是否有股票等金融产品交易账户</label>
      <div class="controls">
          <select name="person_if_finance" id="person_if_finance" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">122.申请人股票等金融产品投资总额 </label>
      <div class="controls">
          <input name="person_finance_invest" id="person_finance_invest" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">123.申请人持有储蓄卡的数量</label>
      <div class="controls">
          <input name="person_num_debit" id="person_num_debit" type="text" value=""  class="form-control"/>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_id">124.申请人</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>储蓄卡1 : 发卡行</p></div>
          <input name="person_debit1_bank" id="person_debit1_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>卡号：</p></div>
          <input name="person_debit1_num" id="person_debit1_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>储蓄卡2 : 发卡行</p></div>
          <input name="person_debit2_bank" id="person_debit2_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>卡号：</p></div>
          <input name="person_debit2_num" id="person_debit2_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>储蓄卡3 : 发卡行</p></div>
          <input name="person_debit3_bank" id="person_debit3_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>卡号：</p></div>
          <input name="person_debit3_num" id="person_debit3_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
    </div>




    <div class="form-group">
      <label class="control-label" for="person_id">125.配偶持有储蓄卡的数量</label>
      <div class="controls">
          <input name="person_spouse_num_debit" id="person_spouse_num_debit" type="text" value=""  class="form-control"/>
      </div>
    </div>

     <div class="form-group">
      <label class="control-label" for="person_id">126.配偶</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>储蓄卡1 : 发卡行</p></div>
          <input name="spouse_debit1_bank" id="spouse_debit1_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>卡号：</p></div>
          <input name="spouse_debit1_num" id="spouse_debit1_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>储蓄卡2 : 发卡行</p></div>
          <input name="spouse_debit2_bank" id="spouse_debit2_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>卡号：</p></div>
          <input name="spouse_debit2_num" id="spouse_debit2_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>储蓄卡3 : 发卡行</p></div>
          <input name="spouse_debit3_bank" id="spouse_debit3_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>卡号：</p></div>
          <input name="spouse_debit3_num" id="spouse_debit3_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">127.申请人持有信用卡的数量</label>
      <div class="controls">
          <input name="person_num_credit" id="person_num_credit" type="text" value=""  class="form-control"/>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_id">128.申请人</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>信用卡1 : 发卡行</p></div>
          <input name="person_credit1_bank" id="person_credit1_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>授信额度：</p></div>
          <input name="person_credit1_num" id="person_credit1_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>信用卡2 : 发卡行</p></div>
          <input name="person_credit2_bank" id="person_credit2_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>授信额度：</p></div>
          <input name="person_credit2_num" id="person_credit2_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>信用卡3 : 发卡行</p></div>
          <input name="person_credit3_bank" id="person_credit3_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>授信额度：</p></div>
          <input name="person_credit3_num" id="person_credit3_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>

      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>授信额度总计：</p></div>
          <input name="person_credit_total" id="person_credit_total" type="text" value=""  class="form-control" style="width: 25%"/>
      </div>
    </div>
    

    <div class="form-group">
      <label class="control-label" for="person_id">129.配偶持有信用卡的数量</label>
      <div class="controls">
          <input name="person_spouse_num_credit" id="person_spouse_num_credit" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">130.配偶</label>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>信用卡1 : 发卡行</p></div>
          <input name="spouse_credit1_bank" id="spouse_credit1_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>授信额度：</p></div>
          <input name="spouse_credit1_num" id="spouse_credit1_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>信用卡2 : 发卡行</p></div>
          <input name="spouse_credit2_bank" id="spouse_credit2_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>授信额度：</p></div>
          <input name="spouse_credit2_num" id="spouse_credit2_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>
      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>信用卡3 : 发卡行</p></div>
          <input name="spouse_credit3_bank" id="spouse_credit3_bank" type="text" value=""  class="form-control" style="width: 25%"/>
          <div style="padding-left: 25px; padding-top: 8px"><p>授信额度：</p></div>
          <input name="spouse_credit3_num" id="spouse_credit3_num" type="text" value=""  class="form-control" style="width: 40%"/>
      </div>

      <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px"><p>授信额度总计：</p></div>
          <input name="spouse_credit_total" id="spouse_credit_total" type="text" value=""  class="form-control" style="width: 25%"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">131.是否有家庭贷款</label>
      <div class="controls">
          <select name="person_if_loan" id="person_if_loan" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">132.家庭贷款总额</label>
      <div class="controls">
          <input name="person_loan_amount" id="person_loan_amount" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">133.家庭贷款类别</label>
      <div class="controls">
          <input name="person_loan_type" id="person_loan_type" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">134.申请人是否支付宝，微信支付等网络支付系统</label>
      <div class="controls">
          <select name="person_if_epay" id="person_if_epay" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">135.配偶人是否支付宝，微信支付等网络支付系统</label>
      <div class="controls">
          <select name="person_spouse_if_epay" id="person_spouse_if_epay" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>



    <div class="form-group">
    	<label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第六部分.车辆讯息(以下信息由经销商汽车金融专员填写)</label>
    </div>

    <div class="form-group">
    <label class="control-label" for="car_front_image">136.请上传车辆正面相片(格式限制：jpg/png ; 大小限制：1Mb)</label>
      <div class="controls">
        <input type="file" id="car_front_image" name="car_front_image" class="form-control" />
      </div>
    </div>

    <div class="form-group">
    <label class="control-label" for="car_back_image">137.请上传车辆背面相片(格式限制：jpg/png ; 大小限制：1Mb)</label>
      <div class="controls">
        <input type="file" id="car_back_image" name="car_back_image" class="form-control" />
      </div>
    </div>




    

    <div class="form-group">
      <label class="control-label" for="car_brand">138.品牌</label>
      <div class="controls">
          <input name="car_brand" id="car_brand" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="motorcycle_type">139.车型</label>
      <div class="controls">
          <input name="motorcycle_type" id="motorcycle_type" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="car_price">140.车辆价格</label>
      <div class="controls">
          <input name="car_price" id="car_price" type="text" value=""  class="form-control"/>
      </div>
    </div>

    

    <div class="form-group">
      <label class="control-label" for="insurance_expense">141.保险费用</label>
      <div class="controls">
          <input name="insurance_expense" id="insurance_expense" type="text" value=""  class="form-control"/>
      </div>
    </div>

   

    <div class="form-group">
      <label class="control-label" for="down_payment">142.首付金额</label>
      <div class="controls">
          <input name="down_payment" id="down_payment" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="down_payment_percentage">143.首付比例</label>
      <div class="controls">
          <input name="down_payment_percentage" id="down_payment_percentage" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="loan_value">144.融资金额</label>
      <div class="controls">
          <input name="loan_value" id="loan_value" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="loan_term">145.融资期限</label>
      <div class="controls">
          <input name="loan_term" id="loan_term" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="car_color">146.车辆颜色</label>
      <div class="controls">
          <input name="car_color" id="car_color" type="text" value=""  class="form-control"/>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="car_id">147.车架号</label>
      <div class="controls">
          <input name="car_id" id="car_id" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="engine_num">148.发动机号</label>
      <div class="controls">
          <input name="engine_num" id="engine_num" type="text" value=""  class="form-control"/>
      </div>
    </div>






    
    
     <div class="form-group">
    	<label class="control-label" for="person_name" style="margin-top: 5%; font-size: 18px" >第七部分.健康信息</label>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">149.申请人近视度数（不近视请填0）</label>
      <div class="controls">
          <input name="person_shortsight" id="person_shortsight" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id">150.配偶近视度数（不近视请填0）</label>
      <div class="controls">
          <input name="person_spouse_shortsight" id="person_spouse_shortsight" type="text" value=""  class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">151.申请人是否每年体检</label>
      <div class="controls">
          <select name="person_if_healthexam" id="person_if_healthexam" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="person_id_type">152.配偶是否每年体检</label>
      <div class="controls">
          <select name="person_if_spouse_healthexam" id="person_if_spouse_healthexam" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="user_disease">153.申请人是否患有以下疾病(多选题)</label><br>
      <input type="checkbox" name="user_disease" value="心脏病" /> 心脏病<br>
      <input type="checkbox" name="user_disease" value="糖尿病" /> 糖尿病<br>
      <input type="checkbox" name="user_disease" value="肾脏病" /> 肾脏病<br>
      <input type="checkbox" name="user_disease" value="血友病" /> 血友病<br>
      <input type="checkbox" name="user_disease" value="肺结核" /> 肺结核<br>
      <input type="checkbox" name="user_disease" value="哮喘病" /> 哮喘病<br>
      <input type="checkbox" name="user_disease" value="癫痫症" /> 癫痫症<br>
      <input type="checkbox" name="user_disease" value="高血压" /> 高血压<br>
      <input type="checkbox" name="user_disease" value="高血脂" /> 高血脂<br>
      <input type="checkbox" name="user_disease" value="高血糖" /> 高血糖<br>
      <input type="checkbox" name="user_disease" value="心血管疾病" /> 心血管疾病<br>
      <input type="checkbox" name="user_disease" value="癌症" /> 癌症<br>
      <input type="checkbox" name="user_disease" value="慢性肺部疾病" /> 慢性肺部疾病<br>
      <input type="checkbox" name="user_disease" value="遗传病" /> 遗传病<br>
      <input type="checkbox" name="user_disease" value="其他慢性疾病" /> 其他慢性疾病<br>
      <input type="checkbox" name="user_disease" value="无" /> 无<br>
    </div>

    <div class="form-group">
      <label class="control-label" for="spouse_disease">154.配偶是否患有以下疾病(多选题)</label><br>
      <input type="checkbox" name="spouse_disease" value="心脏病" /> 心脏病<br>
      <input type="checkbox" name="spouse_disease" value="糖尿病" /> 糖尿病<br>
      <input type="checkbox" name="spouse_disease" value="肾脏病" /> 肾脏病<br>
      <input type="checkbox" name="spouse_disease" value="血友病" /> 血友病<br>
      <input type="checkbox" name="spouse_disease" value="肺结核" /> 肺结核<br>
      <input type="checkbox" name="spouse_disease" value="哮喘病" /> 哮喘病<br>
      <input type="checkbox" name="spouse_disease" value="癫痫症" /> 癫痫症<br>
      <input type="checkbox" name="spouse_disease" value="高血压" /> 高血压<br>
      <input type="checkbox" name="spouse_disease" value="高血脂" /> 高血脂<br>
      <input type="checkbox" name="spouse_disease" value="高血糖" /> 高血糖<br>
      <input type="checkbox" name="spouse_disease" value="心血管疾病" /> 心血管疾病<br>
      <input type="checkbox" name="spouse_disease" value="癌症" /> 癌症<br>
      <input type="checkbox" name="spouse_disease" value="慢性肺部疾病" /> 慢性肺部疾病<br>
      <input type="checkbox" name="spouse_disease" value="遗传病" /> 遗传病<br>
      <input type="checkbox" name="spouse_disease" value="其他慢性疾病" /> 其他慢性疾病<br>
      <input type="checkbox" name="spouse_disease" value="无" /> 无<br>
    </div>
    <div class="form-group">
      <label class="control-label" for="person_id_type">155.申请人是否长期服用药物（请注明药物）</label>
      <div class="controls">
          <select name="person_if_drug" id="person_if_drug" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

   <div class="form-group">
      <label class="control-label" for="person_id_type">156.配偶是否长期服用药物（请注明药物）</label>
      <div class="controls">
          <select name="spouse_if_drug" id="spouse_if_drug" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

   <div class="form-group">
      <label class="control-label" for="person_id_type">157.申请人是否有过敏史（请注明过敏原）</label>
      <div class="controls">
          <select name="person_if_allergy" id="person_if_allergy" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

   <div class="form-group">
      <label class="control-label" for="person_id_type">158.配偶是否是否有过敏史（请注明过敏原）</label>
      <div class="controls">
          <select name="spouse_if_allergy" id="spouse_if_allergy" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">159.申请人是否有大病经历</label>
      <div class="controls">
          <select name="person_if_serious_ill" id="person_if_serious_ill" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="applicant_primary_school">160.申请人疾病</label>
        <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:20%"><p>疾病</p></div>
          <input name="person_ill" id="person_ill" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:20%"><p>患病时间（XX年XX月）</p></div>
          <input name="person_ill_time" id="person_ill_time" type="text" value=""  class="form-control" style="width: 20%"/>
        </div>

      </div>

     <div class="form-group">
      <label class="control-label" for="person_id_type">161.配偶是否有大病经历</label>
      <div class="controls">
          <select name="person_spouse_if_serious_ill" id="person_spouse_if_serious_ill" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="applicant_primary_school">162.配偶疾病</label>
        <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:20%"><p>疾病</p></div>
          <input name="spouse_ill" id="spouse_ill" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:20%"><p>患病时间（XX年XX月）</p></div>
          <input name="spouse_ill_time" id="spouse_ill_time" type="text" value=""  class="form-control" style="width: 20%"/>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">163.申请人是否有手术经历</label>
      <div class="controls">
          <select name="person_if_surgery" id="person_if_surgery" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="applicant_primary_school">164.申请人手术</label>
        <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:20%"><p>手术原因</p></div>
          <input name="person_surgery" id="person_surgery" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:20%"><p>手术时间（XX年XX月）</p></div>
          <input name="person_surgery_time" id="person_surgery_time" type="text" value=""  class="form-control" style="width: 20%"/>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">165.配偶是否有手术经历</label>
      <div class="controls">
          <select name="person_spouse_if_surgery" id="person_spouse_if_surgery" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="applicant_primary_school">166.配偶手术</label>
        <div class="controls" style="display: flex;">
          <div style="padding-left: 25px; padding-top: 8px;width:20%"><p>手术原因</p></div>
          <input name="spouse_surgery" id="spouse_surgery" type="text" value=""  class="form-control" style="width: 20%"/>
          <div style="padding-left: 25px; padding-top: 8px;width:20%"><p>手术时间（XX年XX月）</p></div>
          <input name="spouse_surgery_time" id="spouse_surgery_time" type="text" value=""  class="form-control" style="width: 20%"/>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">167.申请人是否吸烟</label>
      <div class="controls">
          <select name="person_if_smoke" id="person_if_smoke" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">168.申请人吸烟频率</label>
      <div class="controls">
          <select name="person_smoke_frequency" id="person_smoke_frequency" class="form-control">
            <option value="≦五根/天">≦五根/天</option>
            <option value=">五根/天">>五根/天</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">169.配偶是否吸烟</label>
      <div class="controls">
          <select name="person_spouse_if_smoke" id="person_spouse_if_smoke" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

     <div class="form-group">
      <label class="control-label" for="person_id_type">170.配偶吸烟频率</label>
      <div class="controls">
          <select name="person_spouse_smoke_frequency" id="person_spouse_smoke_frequency" class="form-control">
            <option value="≦五根/天">≦五根/天</option>
            <option value=">五根/天">>五根/天</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">171.申请人是否饮酒</label>
      <div class="controls">
          <select name="person_if_drink" id="person_if_drink" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">172.申请人饮酒情况</label>
      <div class="controls">
          <select name="person_drink" id="person_drink" class="form-control">
            <option value="只在工作应酬时喝酒">只在工作应酬时喝酒</option>
            <option value="只在工作与朋友聚会时喝酒">只在工作与朋友聚会时喝酒</option>
            <option value="自己在家也喝酒">自己在家也喝酒</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">173.配偶是否饮酒</label>
      <div class="controls">
          <select name="person_spouse_if_drink" id="person_spouse_if_drink" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">174.配偶饮酒情况</label>
      <div class="controls">
          <select name="person_spouse_drink" id="person_spouse_drink" class="form-control">
            <option value="只在工作应酬时喝酒">只在工作应酬时喝酒</option>
            <option value="只在工作与朋友聚会时喝酒">只在工作与朋友聚会时喝酒</option>
            <option value="自己在家也喝酒">自己在家也喝酒</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">175.申请人是否经常在12点后入睡</label>
      <div class="controls">
          <select name="person_if_staylate" id="person_if_staylate" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">176.配偶是否经常在12点后入睡</label>
      <div class="controls">
          <select name="person_spouse_if_staylate" id="person_spouse_if_staylate" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">177.申请人是否经常失眠</label>
      <div class="controls">
          <select name="person_if_insomnia" id="person_if_insomnia" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">178.配偶是否经常失眠</label>
      <div class="controls">
          <select name="person_spouse_if_insomnia" id="person_spouse_if_insomnia" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">179.申请人是否经常在家吃饭</label>
      <div class="controls">
          <select name="person_if_eatathome" id="person_if_eatathome" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">180.配偶是否经常在家吃饭</label>
      <div class="controls">
          <select name="person_spouse_if_eatathome" id="person_spouse_if_eatathome" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">181.申请人每周锻炼次数</label>
      <div class="controls">
          <select name="person_exercise_frequency" id="person_exercise_frequency" class="form-control">
            <option value="0次">0次</option>
            <option value="1-3次">1-3次</option>
            <option value="3次以上">3次以上</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">182.配偶每周锻炼次数</label>
      <div class="controls">
          <select name="person_spouse_exercise_frequency" id="person_spouse_exercise_frequency" class="form-control">
            <option value="0次">0次</option>
            <option value="1-3次">1-3次</option>
            <option value="3次以上">3次以上</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">183.申请人是否持有健身房会员卡</label>
      <div class="controls">
          <select name="person_if_exercise_membership" id="person_if_exercise_membership" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="person_id_type">184.配偶是否持有健身房会员卡</label>
      <div class="controls">
          <select name="person_spouse_if_exercise_membership" id="person_spouse_if_exercise_membership" class="form-control">
            <option value="是">是</option>
            <option value="否">否</option>
          </select>
      </div>
    </div>

    <input type="submit" value="提交" class="btn btn-primary"/>
  </form>
</template>



<template name="profile">
  <div>
    <form>
     <input type="file" id="userimage" name="userimage"/>
     <button type="submit">Upload</button>
    </form>
  </div>
</template>